<div>
  <%= flash[:notice] %>
</div>

<p>Title:</p>
<p><%= @book.title %></p>

<p>Body:</p>
<p><%= @book.body %></p>

<span>
    <%= link_to "Edit", "/books/#{@book.id}/edit" %> | <%= link_to "Back", "/books" %>
</span>